In [ ]:
# list comprhension
squares = []
for x in range(10):
  if x % 2 == 0:
    squares.append(x**2)

print(squares)

[0, 4, 16, 36, 64]

In [ ]:
# Alternative short approach known as list comprehension
# list = [(appendvalue)operation loop condition]
sq = [x**2 for x in range(10) if x % 2 == 0]
print(sq)

[0, 4, 16, 36, 64]

### Section 1: Nested Lists & Access

In [1]:
students = [
["Ravi", [85, 72, 90]],
["Sneha", [95, 88, 92]],
["Kabir", [65, 70, 60]],
["Anita", [75, 80, 78]]
]

In [2]:
# Print Raviâ€™s second mark
print("Ravi's second mark: ", students[0][1][1])

Ravi's second mark:  72

In [3]:
# Calculate average mark for each student
for student in students:
    name = student[0]
    marks = student[1]
    avg = sum(marks) / len(marks)
    print(f"{name}'s average mark: {avg:.2f}")

Ravi's average mark: 82.33
Sneha's average mark: 91.67
Kabir's average mark: 65.00
Anita's average mark: 77.67

In [4]:
# Print names of students who scored above 80 in all subjects
print("Students who scored above 80 in all subjects:")
for student in students:
    name, marks = student
    if all(mark > 80 for mark in marks):
        print(name)

Students who scored above 80 in all subjects:
Sneha

In [5]:
# Create a new list of [name, average]
average_list = []

for student in students:
    name = student[0]
    marks = student[1]
    avg = sum(marks) / len(marks)
    average_list.append([name, avg])

print("List of [name, average]:")
print(average_list)

List of [name, average]:
[['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

### Section 2: Dictionary of Lists

In [6]:
 data = {
"products": ["Mobile", "Laptop", "Tablet", "Camera"],
"prices": [12000, 55000, 18000, 25000],
"ratings": [4.5, 4.7, 4.0, 4.2]
}

In [7]:
# Create a list of dictionaries for each product
product_list =[]
for name, price, rating in zip(data["products"], data["prices"], data["ratings"]):
    product_list.append({'name': name, 'price': price, 'rating': rating})

# Display the result
for product in product_list:
    print(product)

{'name': 'Mobile', 'price': 12000, 'rating': 4.5}
{'name': 'Laptop', 'price': 55000, 'rating': 4.7}
{'name': 'Tablet', 'price': 18000, 'rating': 4.0}
{'name': 'Camera', 'price': 25000, 'rating': 4.2}

In [8]:
# Filter and print products with price > 20,000 and rating >= 4.5
filtered = [product for product in product_list if product["price"] > 20000 and product["rating"] >= 4.5]
for product in filtered:
  print(product)

{'name': 'Laptop', 'price': 55000, 'rating': 4.7}

In [10]:
# Sort the product list by rating (descending)
sorted_products =sorted(product_list, key=lambda x: x['rating'], reverse=True)
for product in sorted_products:
  print(product)

{'name': 'Laptop', 'price': 55000, 'rating': 4.7}
{'name': 'Mobile', 'price': 12000, 'rating': 4.5}
{'name': 'Camera', 'price': 25000, 'rating': 4.2}
{'name': 'Tablet', 'price': 18000, 'rating': 4.0}

### Section 3: Frequency Dictionary + Set Operations

In [11]:
text = "ai is the future and ai will change everything in the ai world"

In [12]:
# Count frequency of each word using a dictionary
words = text.split()

word_freq = {}

for word in words:
  word_freq[word] = word_freq.get(word, 0) + 1

print(word_freq)

{'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}

In [13]:
# Print only the words that appear more than once
for word,freq in word_freq.items():
  if freq > 1:
    print(f"{word}: {freq}")

ai: 3
the: 2

In [14]:
# Convert words into a set and print sorted unique words
unique_words = set(words)
sorted_words = sorted(unique_words)
print(sorted_words)

['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

In [16]:
# Common words
set1 = set(text.split())
set2 = {'ai', 'ml', 'data', 'future'}

common_words = set1 & set2
print(common_words)

{'ai', 'future'}

### Section 4: Dictionary Comprehension + Conditional Logic

In [17]:
 sales = {
'Amit': 70000,
'Sneha': 45000,
'Ravi': 30000,
'Anita': 90000,
'Kabir': 20000
}

In [18]:
# Create a new dictionary with 10% bonus added to each sale
sales_bonus = {name: round(amount * 1.10) for name, amount in sales.items()}
print(sales_bonus)

{'Amit': 77000, 'Sneha': 49500, 'Ravi': 33000, 'Anita': 99000, 'Kabir': 22000}

In [20]:
#Filter and return only those with sales > 50000
high_sales ={name: amount for name, amount in sales.items() if amount > 50000}
print(high_sales)

{'Amit': 70000, 'Anita': 90000}

In [21]:
# Labelling
labels ={}

for name, amount in sales.items():
  if amount >= 75000:
    labels[name] = "High"
  elif amount >= 40000:
    labels[name] = "Medium"
  else:
    labels[name] = "Low"

print(labels)

{'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

### Section 5: Tuples, Sets and Zipping

In [22]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

In [24]:
# Convert both tuples to a dictionary using zip()
marks_dict = dict(zip(names, marks))
print(marks_dict)

{'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

In [25]:
# Find min and max marks
min_mark = min(marks)
max_mark = max(marks)
print("Minimum marks: ",min_mark)
print("Maximum marks: ",max_mark)

Minimum marks:  76
Maximum marks:  92

In [26]:
# Create a set from marks and add a new value
marks_set = set(marks)
marks_set.add(85)
print(marks_set)

{88, 92, 85, 76}

In [27]:
# Merge two sets and show only unique elements
extra_marks = {92, 70, 85}
merged_set = marks_set.union(extra_marks)
print(merged_set)

{85, 70, 88, 92, 76}

### Bonus

In [28]:
 employees = {
"E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
"E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
"E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

In [29]:
# Add a new employee "E104"
employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 90000}
print(employees)

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 90000}}

In [31]:
# Increase salary by 10% for Engineering department only
for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] *= 1.10

In [32]:
# Find the department with the highest average salary
from collections import defaultdict

dept_salaries = defaultdict(list)

for emp in employees.values():
    dept_salaries[emp["dept"]].append(emp["salary"])

avg_salaries = {dept: sum(sals)/len(sals) for dept, sals in dept_salaries.items()}
highest_avg_dept = max(avg_salaries, key=avg_salaries.get)

print("Average salaires by Dept:\n", avg_salaries)

Average salaires by Dept:
 {'Sales': 50000.0, 'Engineering': 102850.00000000003, 'HR': 45000.0}