## Step 1 Prepare Dataframe in Spark

In [1]:
# Creating spark session
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("SparkSQLExample") \
    .getOrCreate()

In [2]:
# create dataframe
from pyspark.sql import Row
data = [
Row(EmpID=101, Name="Ravi", Department="Engineering", Project="AI Engine",
Salary=95000, HoursPerWeek=42),
Row(EmpID=102, Name="Sneha", Department="Engineering", Project="Data Platform",
Salary=87000, HoursPerWeek=45),
Row(EmpID=103, Name="Kabir", Department="Marketing", Project="Product Launch",
Salary=65000, HoursPerWeek=40),
Row(EmpID=104, Name="Anita", Department="Sales", Project="Client Outreach",
Salary=70000, HoursPerWeek=38),
Row(EmpID=105, Name="Divya", Department="Engineering", Project="AI Engine",
Salary=99000, HoursPerWeek=48),
Row(EmpID=106, Name="Amit", Department="Marketing", Project="Social Media",
Salary=62000, HoursPerWeek=35),
Row(EmpID=107, Name="Priya", Department="HR", Project="Policy Revamp",
Salary=58000, HoursPerWeek=37),
Row(EmpID=108, Name="Manav", Department="Sales", Project="Lead Gen", Salary=73000,
HoursPerWeek=41),
Row(EmpID=109, Name="Neha", Department="Engineering", Project="Security Suite",
Salary=91000, HoursPerWeek=46),
Row(EmpID=110, Name="Farah", Department="HR", Project="Onboarding", Salary=60000,
HoursPerWeek=36)
]
df = spark.createDataFrame(data)
df.show(truncate=False)

+-----+-----+-----------+---------------+------+------------+
|EmpID|Name |Department |Project        |Salary|HoursPerWeek|
+-----+-----+-----------+---------------+------+------------+
|101  |Ravi |Engineering|AI Engine      |95000 |42          |
|102  |Sneha|Engineering|Data Platform  |87000 |45          |
|103  |Kabir|Marketing  |Product Launch |65000 |40          |
|104  |Anita|Sales      |Client Outreach|70000 |38          |
|105  |Divya|Engineering|AI Engine      |99000 |48          |
|106  |Amit |Marketing  |Social Media   |62000 |35          |
|107  |Priya|HR         |Policy Revamp  |58000 |37          |
|108  |Manav|Sales      |Lead Gen       |73000 |41          |
|109  |Neha |Engineering|Security Suite |91000 |46          |
|110  |Farah|HR         |Onboarding     |60000 |36          |
+-----+-----+-----------+---------------+------+------------+

## Step 2: Create Views

In [3]:
# Create a Local Temp View
df.createOrReplaceTempView("employees_local")

In [4]:
# Creating a global temp view
df.createOrReplaceGlobalTempView("employees_global")

In [5]:
## Accessing views is possible with .show()
spark.sql("Select * from employees_local").show()

+-----+-----+-----------+---------------+------+------------+
|EmpID| Name| Department|        Project|Salary|HoursPerWeek|
+-----+-----+-----------+---------------+------+------------+
|  101| Ravi|Engineering|      AI Engine| 95000|          42|
|  102|Sneha|Engineering|  Data Platform| 87000|          45|
|  103|Kabir|  Marketing| Product Launch| 65000|          40|
|  104|Anita|      Sales|Client Outreach| 70000|          38|
|  105|Divya|Engineering|      AI Engine| 99000|          48|
|  106| Amit|  Marketing|   Social Media| 62000|          35|
|  107|Priya|         HR|  Policy Revamp| 58000|          37|
|  108|Manav|      Sales|       Lead Gen| 73000|          41|
|  109| Neha|Engineering| Security Suite| 91000|          46|
|  110|Farah|         HR|     Onboarding| 60000|          36|
+-----+-----+-----------+---------------+------+------------+

In [6]:
spark.sql("Select * from global_temp.employees_global").show()
# When we create global view stores in global_temp(Special reserved db.)

+-----+-----+-----------+---------------+------+------------+
|EmpID| Name| Department|        Project|Salary|HoursPerWeek|
+-----+-----+-----------+---------------+------+------------+
|  101| Ravi|Engineering|      AI Engine| 95000|          42|
|  102|Sneha|Engineering|  Data Platform| 87000|          45|
|  103|Kabir|  Marketing| Product Launch| 65000|          40|
|  104|Anita|      Sales|Client Outreach| 70000|          38|
|  105|Divya|Engineering|      AI Engine| 99000|          48|
|  106| Amit|  Marketing|   Social Media| 62000|          35|
|  107|Priya|         HR|  Policy Revamp| 58000|          37|
|  108|Manav|      Sales|       Lead Gen| 73000|          41|
|  109| Neha|Engineering| Security Suite| 91000|          46|
|  110|Farah|         HR|     Onboarding| 60000|          36|
+-----+-----+-----------+---------------+------+------------+

### Part A: Exercises on Local view

In [7]:
# List all employees working on the "AI Engine" project.
spark.sql("Select * from employees_local where Project = 'AI Engine'").show()

+-----+-----+-----------+---------+------+------------+
|EmpID| Name| Department|  Project|Salary|HoursPerWeek|
+-----+-----+-----------+---------+------+------------+
|  101| Ravi|Engineering|AI Engine| 95000|          42|
|  105|Divya|Engineering|AI Engine| 99000|          48|
+-----+-----+-----------+---------+------+------------+

In [8]:
# Show all employees from the"Marketing" department with salaries greater than 60,000.
spark.sql("Select * from employees_local where Department = 'Marketing' and Salary > 60000").show()

+-----+-----+----------+--------------+------+------------+
|EmpID| Name|Department|       Project|Salary|HoursPerWeek|
+-----+-----+----------+--------------+------+------------+
|  103|Kabir| Marketing|Product Launch| 65000|          40|
|  106| Amit| Marketing|  Social Media| 62000|          35|
+-----+-----+----------+--------------+------+------------+

In [9]:
# calculate the average salary for each department.
spark.sql("Select avg(Salary) as AvgSalary, Department from employees_local group by Department").show()

+---------+-----------+
|AvgSalary| Department|
+---------+-----------+
|  71500.0|      Sales|
|  93000.0|Engineering|
|  63500.0|  Marketing|
|  59000.0|         HR|
+---------+-----------+

In [10]:
# List the top 3 highest paid employees overall.
spark.sql("SELECT Name, Salary FROM employees_local ORDER BY Salary DESC LIMIT 3").show()

+-----+------+
| Name|Salary|
+-----+------+
|Divya| 99000|
| Ravi| 95000|
| Neha| 91000|
+-----+------+

In [11]:
# Find employees who work more than 40 hours per week
spark.sql("SELECT * FROM employees_local WHERE HoursPerWeek > 40").show()

+-----+-----+-----------+--------------+------+------------+
|EmpID| Name| Department|       Project|Salary|HoursPerWeek|
+-----+-----+-----------+--------------+------+------------+
|  101| Ravi|Engineering|     AI Engine| 95000|          42|
|  102|Sneha|Engineering| Data Platform| 87000|          45|
|  105|Divya|Engineering|     AI Engine| 99000|          48|
|  108|Manav|      Sales|      Lead Gen| 73000|          41|
|  109| Neha|Engineering|Security Suite| 91000|          46|
+-----+-----+-----------+--------------+------+------------+

In [12]:
# Group by project and display the number of employees per project
spark.sql("SELECT Project, COUNT(*) AS EmployeeCount FROM employees_local GROUP BY Project").show()

+---------------+-------------+
|        Project|EmployeeCount|
+---------------+-------------+
|  Data Platform|            1|
|      AI Engine|            2|
| Product Launch|            1|
|Client Outreach|            1|
| Security Suite|            1|
|  Policy Revamp|            1|
|       Lead Gen|            1|
|   Social Media|            1|
|     Onboarding|            1|
+---------------+-------------+

In [17]:
# Drop the local view.
spark.catalog.dropTempView("employees_local")
# Try querying again â€” what happens?
# -> AnalysisException: Table or view not found: employees_local

False

### Part B: Exercises on Global View

In [21]:
# Retrieve all "HR" employees working fewer than 38 hours/week
spark.sql("SELECT * FROM global_temp.employees_global WHERE Department = 'HR' AND HoursPerWeek < 38").show()

+-----+-----+----------+-------------+------+------------+
|EmpID| Name|Department|      Project|Salary|HoursPerWeek|
+-----+-----+----------+-------------+------+------------+
|  107|Priya|        HR|Policy Revamp| 58000|          37|
|  110|Farah|        HR|   Onboarding| 60000|          36|
+-----+-----+----------+-------------+------+------------+

In [24]:
# Calculate the total salary payout for each department
spark.sql("""
SELECT Department, SUM(Salary) AS TotalPayout
FROM global_temp.employees_global
GROUP BY Department
""").show()

+-----------+-----------+
| Department|TotalPayout|
+-----------+-----------+
|      Sales|     143000|
|Engineering|     372000|
|  Marketing|     127000|
|         HR|     118000|
+-----------+-----------+

In [25]:
# Add a derived column Status
spark.sql("""
SELECT *,
    CASE
        WHEN HoursPerWeek > 45 THEN 'Overworked'
        ELSE 'Normal'
    END AS Status
FROM global_temp.employees_global
""").show()

+-----+-----+-----------+---------------+------+------------+----------+
|EmpID| Name| Department|        Project|Salary|HoursPerWeek|    Status|
+-----+-----+-----------+---------------+------+------------+----------+
|  101| Ravi|Engineering|      AI Engine| 95000|          42|    Normal|
|  102|Sneha|Engineering|  Data Platform| 87000|          45|    Normal|
|  103|Kabir|  Marketing| Product Launch| 65000|          40|    Normal|
|  104|Anita|      Sales|Client Outreach| 70000|          38|    Normal|
|  105|Divya|Engineering|      AI Engine| 99000|          48|Overworked|
|  106| Amit|  Marketing|   Social Media| 62000|          35|    Normal|
|  107|Priya|         HR|  Policy Revamp| 58000|          37|    Normal|
|  108|Manav|      Sales|       Lead Gen| 73000|          41|    Normal|
|  109| Neha|Engineering| Security Suite| 91000|          46|Overworked|
|  110|Farah|         HR|     Onboarding| 60000|          36|    Normal|
+-----+-----+-----------+---------------+------+------------+----------+

In [26]:
# Count the total number of employees working on each "Project"
spark.sql("""
SELECT Project, COUNT(*) AS TotalEmployees
FROM global_temp.employees_global
GROUP BY Project
""").show()

+---------------+--------------+
|        Project|TotalEmployees|
+---------------+--------------+
|  Data Platform|             1|
|      AI Engine|             2|
| Product Launch|             1|
|Client Outreach|             1|
| Security Suite|             1|
|  Policy Revamp|             1|
|       Lead Gen|             1|
|   Social Media|             1|
|     Onboarding|             1|
+---------------+--------------+

In [28]:
# List employees whose salary is above the average salary in their department
spark.sql("""
SELECT *
FROM global_temp.employees_global e1
WHERE Salary > (
    SELECT AVG(Salary)
    FROM global_temp.employees_global e2
    WHERE e1.Department = e2.Department
)
""").show()

+-----+-----+-----------+--------------+------+------------+
|EmpID| Name| Department|       Project|Salary|HoursPerWeek|
+-----+-----+-----------+--------------+------+------------+
|  101| Ravi|Engineering|     AI Engine| 95000|          42|
|  105|Divya|Engineering|     AI Engine| 99000|          48|
|  103|Kabir|  Marketing|Product Launch| 65000|          40|
|  108|Manav|      Sales|      Lead Gen| 73000|          41|
|  110|Farah|         HR|    Onboarding| 60000|          36|
+-----+-----+-----------+--------------+------+------------+

In [29]:
# Open a new Spark session and query global_temp.employees_global
from pyspark.sql import SparkSession

spark2 = SparkSession.builder.appName("SecondSession").getOrCreate()
spark2.sql("SELECT * FROM global_temp.employees_global").show()

+-----+-----+-----------+---------------+------+------------+
|EmpID| Name| Department|        Project|Salary|HoursPerWeek|
+-----+-----+-----------+---------------+------+------------+
|  101| Ravi|Engineering|      AI Engine| 95000|          42|
|  102|Sneha|Engineering|  Data Platform| 87000|          45|
|  103|Kabir|  Marketing| Product Launch| 65000|          40|
|  104|Anita|      Sales|Client Outreach| 70000|          38|
|  105|Divya|Engineering|      AI Engine| 99000|          48|
|  106| Amit|  Marketing|   Social Media| 62000|          35|
|  107|Priya|         HR|  Policy Revamp| 58000|          37|
|  108|Manav|      Sales|       Lead Gen| 73000|          41|
|  109| Neha|Engineering| Security Suite| 91000|          46|
|  110|Farah|         HR|     Onboarding| 60000|          36|
+-----+-----+-----------+---------------+------+------------+

### Bonus

In [31]:
# Use a window function to assign rank to employees within each department based on salary
from pyspark.sql.window import Window
from pyspark.sql.functions import rank

window_spec = Window.partitionBy("Department").orderBy(df["Salary"].desc())

df_ranked = df.withColumn("Rank", rank().over(window_spec))
df_ranked.show()

+-----+-----+-----------+---------------+------+------------+----+
|EmpID| Name| Department|        Project|Salary|HoursPerWeek|Rank|
+-----+-----+-----------+---------------+------+------------+----+
|  105|Divya|Engineering|      AI Engine| 99000|          48|   1|
|  101| Ravi|Engineering|      AI Engine| 95000|          42|   2|
|  109| Neha|Engineering| Security Suite| 91000|          46|   3|
|  102|Sneha|Engineering|  Data Platform| 87000|          45|   4|
|  110|Farah|         HR|     Onboarding| 60000|          36|   1|
|  107|Priya|         HR|  Policy Revamp| 58000|          37|   2|
|  103|Kabir|  Marketing| Product Launch| 65000|          40|   1|
|  106| Amit|  Marketing|   Social Media| 62000|          35|   2|
|  108|Manav|      Sales|       Lead Gen| 73000|          41|   1|
|  104|Anita|      Sales|Client Outreach| 70000|          38|   2|
+-----+-----+-----------+---------------+------+------------+----+

In [33]:
# Create another view (local or global) that only contains "Engineering" employees
df.filter(df.Department == "Engineering").createOrReplaceTempView("engineering_employees")

In [34]:
# Create a SQL view that filters out all employees working < 38 hours and saves it as "active_employees"
spark.sql("""
    SELECT *
    FROM global_temp.employees_global
    WHERE HoursPerWeek >= 38
""").createOrReplaceTempView("active_employees")
spark.sql("SELECT * FROM active_employees").show()

+-----+-----+-----------+---------------+------+------------+
|EmpID| Name| Department|        Project|Salary|HoursPerWeek|
+-----+-----+-----------+---------------+------+------------+
|  101| Ravi|Engineering|      AI Engine| 95000|          42|
|  102|Sneha|Engineering|  Data Platform| 87000|          45|
|  103|Kabir|  Marketing| Product Launch| 65000|          40|
|  104|Anita|      Sales|Client Outreach| 70000|          38|
|  105|Divya|Engineering|      AI Engine| 99000|          48|
|  108|Manav|      Sales|       Lead Gen| 73000|          41|
|  109| Neha|Engineering| Security Suite| 91000|          46|
+-----+-----+-----------+---------------+------+------------+