In [1]:
from pyspark.sql import SparkSession
# Creating SparkSession (entrypoint like main())
spark = SparkSession.builder \
      .appName("PySparkBasics") \
      .getOrCreate()

# confirm running
spark

In [2]:
# Sample spark dataframe
sample_data = [('Amit',25),('Sneha',26),('Kabir',28),('Naina',28)]
columns = ['Name', 'Age']

# Creating spark dataframe
df = spark.createDataFrame(sample_data,columns)
# To print dataframe
df.show()

+-----+---+
| Name|Age|
+-----+---+
| Amit| 25|
|Sneha| 26|
|Kabir| 28|
|Naina| 28|
+-----+---+

In [3]:

# Sample data with missing values
csv_data = """Name,Age,Department,Salary
Aarav,28,Sales,50000
Sneha,,Engineering,80000
Kabir,25,HR,
Anaya,29,,60000
Rohan,35,Engineering,85000
"""

with open('emp_missing.csv','w') as file:
  file.write(csv_data)

In [6]:
# Reading csv in spark
df1 = spark.read.csv('emp_missing.csv', header=True, inferSchema=True)
df1.show() # Shows table
df1.printSchema() # Shows column name and datatype

+-----+----+-----------+------+
| Name| Age| Department|Salary|
+-----+----+-----------+------+
|Aarav|  28|      Sales| 50000|
|Sneha|NULL|Engineering| 80000|
|Kabir|  25|         HR|  NULL|
|Anaya|  29|       NULL| 60000|
|Rohan|  35|Engineering| 85000|
+-----+----+-----------+------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)