In [5]:
# Creating sparksession
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySparkBasics").getOrCreate()
spark

In [6]:
# Creating spark df
data = [
    ("E101", "Amit", "Sales", 10, 1200),
    ("E102", "Sneha", "Marketing", 8, 1500),
    ("E103", "Ravi", "Sales", 12, 1300),
    ("E104", "Anjali", "HR", 7, 1100),
    ("E105", "Raj", "Sales", 5, 1000)
]
columns = ["EmpID", "Name", "Department", "UnitsSold", "UnitPrice"]

df = spark.createDataFrame(data, columns)
df.show()

+-----+------+----------+---------+---------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|
+-----+------+----------+---------+---------+
| E101|  Amit|     Sales|       10|     1200|
| E102| Sneha| Marketing|        8|     1500|
| E103|  Ravi|     Sales|       12|     1300|
| E104|Anjali|        HR|        7|     1100|
| E105|   Raj|     Sales|        5|     1000|
+-----+------+----------+---------+---------+

In [7]:
import json
# Csv format (writing)
df.write.mode("overwrite").option("header", True).csv("/tmp/employees_csv")

# JSON format
df.write.mode("overwrite").json("/tmp/employees_json")

# Parquet format
df.write.mode("overwrite").parquet("/tmp/employees_parquet")

In [8]:
# Reading csv
csv_df = spark.read.option("header", True).csv("/tmp/employees_csv")
csv_df.show()

# Read JSON
json_csv = spark.read.json("/tmp/employees_json")
json_csv.show()

# Read Parquet
parquet_df = spark.read.parquet("/tmp/employees_parquet")
parquet_df.show()

+-----+------+----------+---------+---------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|
+-----+------+----------+---------+---------+
| E103|  Ravi|     Sales|       12|     1300|
| E104|Anjali|        HR|        7|     1100|
| E105|   Raj|     Sales|        5|     1000|
| E101|  Amit|     Sales|       10|     1200|
| E102| Sneha| Marketing|        8|     1500|
+-----+------+----------+---------+---------+

+----------+-----+------+---------+---------+
|Department|EmpID|  Name|UnitPrice|UnitsSold|
+----------+-----+------+---------+---------+
|     Sales| E103|  Ravi|     1300|       12|
|        HR| E104|Anjali|     1100|        7|
|     Sales| E105|   Raj|     1000|        5|
|     Sales| E101|  Amit|     1200|       10|
| Marketing| E102| Sneha|     1500|        8|
+----------+-----+------+---------+---------+

+-----+------+----------+---------+---------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|
+-----+------+----------+---------+---------+
| E103|  Ravi|     Sales|       12|     1300|
| E104|Anjali|        HR|        7|     1100|
| E105|   Raj|     Sales|        5|     1000|
| E101|  Amit|     Sales|       10|     1200|
| E102| Sneha| Marketing|        8|     1500|
+-----+------+----------+---------+---------+